<!DOCTYPE html>
<html>
<head>
  <title>Meu Livro</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script type="text/javascript" src="http://ads.egrana.com.br/anuncio/popup/39892"></script>
</head>
<body>

<%= yield %>

</body>
</html>
